<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
>
    <th:block th:fragment="scriptFragment">

        <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Aos -->
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

        <script src="/js/common-main.js"></script>

    </th:block>
</html>